<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Among Us</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="version">v2020.8.12s</div>
  <div class="logo"></div>
  <main>
    <span type="text" class="nick" contenteditable>Player</span>
    <div class="bottom">
      <div class="buttons">
        <a href="/create" class="btn">방 만들기</a>
        <a href="/find" class="btn">게임 찾기</a>
        <a href="" class="btn">코드 입력</a>
      </div>
    </div>
    <script src="index.js"></script>
  </main>
</body>

</html>